@import '@/pages/decks/Decks.module';

.root {
  margin-top: 50px;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .cover {
      height: 100px;
      margin-bottom: 24px;
    }

    .top {
      @include flex(row, 0, 0, center, space-between);

      margin-bottom: 24px;

      .title {
        @include flex(row, 0, 12px, center, center);
      }
    }
  }
}
