@import '../../styles/mixins';

.root {
  height: 100vh; // Full viewport height
  display: flex;
  justify-content: center; // Centers horizontally
  align-items: center; // Centers vertically
  padding: 2rem; // Add padding
}

.content {
  @include flex(column, 20px, 0, center);
  max-width: 420px; // Ensure the content has a max width
  width: 100%; // Take full available width within the max-width
  padding: 2rem; // Add padding if needed

  .form {
    align-self: stretch;
  }

  .login {
    @include flex(column, 7px, 0, center);

    .signIn {
      @include link-hover;
    }
  }
}